<script lang="ts">
  import Input from "$lib/inputs/input.svelte";
  import Checkbox from "$lib/inputs/checkbox.svelte";

  let application = {
    name: "",
    age: "",
    experience: "",
    about: "",
    reason: "",
    benefit: "",
    activity: "",
    handling: "",
    lookingFor: "",
    consent: true,
  };

  let success = false;
  let failed = false;

  function onSubmit() {
    try {
      fetch("https://grey-api.justifi.us", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(application),
      })
        .then((res) => {
          res.json().then((json) => {
            console.log(json);
            if (json == "success") {
              success = true;
            }
            if (json.error) {
              failed = true;
            }
          });
        })
        .catch((err) => {
          console.log(err);
          failed = true;
        });
    } catch {
      failed = true;
    }
  }
</script>

<svelte:head>
  <title>Grey | Staff Application</title>
  <meta name="title" content="Grey | Staff Application" />
  <meta name="theme-color" content="#006b38">
  <meta
    name="description"
    content="Apply now to Grey and lead the revolution of innovation! Be sure to join the server before applying (https://discord.gg/AxxYTP4)."
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://grey.justifi.us/" />
  <meta property="og:title" content="Grey | Staff Application" />
  <meta
    property="og:description"
    content="Apply now to Grey and lead the revolution of innovation! Be sure to join the server before applying (https://discord.gg/AxxYTP4)."
  />

  <!-- Twitter -->
  <meta property="twitter:url" content="https://grey.justifi.us/" />
  <meta property="twitter:title" content="Grey | Staff Application" />
  <meta
    property="twitter:description"
    content="Apply now to Grey and lead the revolution of innovation! Be sure to join the server before applying (https://discord.gg/AxxYTP4)."
  />
</svelte:head>

<main>
  <h1>Grey Staff Application</h1>
  {#if success}
    <p>Thanks! We'll get back to you as soon as possible!</p>
  {:else}
    <h2>Please fill out the application below.</h2>
    <form on:submit|preventDefault={onSubmit}>
      <Input bind:value={application.name} name="name" placeholder="User#1234">
        Discord Username and Discrminator:
      </Input>

      <Input name="age" bind:value={application.age}>Your age:</Input>

      <Input
        name="experience"
        bind:value={application.experience}
        type="textarea"
      >
        Past / Current Work Experience:
      </Input>

      <Input name="about" bind:value={application.about} type="textarea">
        Tell us a bit about yourself:
      </Input>

      <hr />

      <Input name="reason" bind:value={application.reason} type="textarea">
        Why do you want the job?
      </Input>

      <hr />

      <Input name="benefit" bind:value={application.benefit} type="textarea">
        How will the server benefit from having you?
      </Input>

      <Input bind:value={application.activity} name="activity">
        How active are you able to be?
      </Input>

      <Input name="handling" bind:value={application.handling} type="textarea">
        How would you handle server members being disrespectful or arguing?
      </Input>

      <hr />

      <Input
        name="lookingFor"
        bind:value={application.lookingFor}
        type="textarea"
      >
        What are you looking for in a server?
      </Input>

      <Checkbox bind:checked={application.consent}>
        I consent to the collection of my data and agree to our privacy policy.
      </Checkbox>

      {#if application.consent}
        <button type="submit">Submit</button>

        {#if failed}
          <p style="margin-top:-4rem;margin-bottom:5rem;">
            An error occured, please contact MrSwe#3608
          </p>
        {/if}
      {:else}
        <p>Consent is required</p>
      {/if}
    </form>
  {/if}
</main>

<style lang="scss">
  :global(*) {
    box-sizing: border-box;
  }

  :global(body) {
    background: #263238;
    color: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    --accent-color: #006b38;
  }

  main {
    width: min(80%, 90ch);
    margin: auto;

    h1,
    h2 {
      text-align: center;
    }

    h2 {
      color: #999;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5rem;
    }

    hr {
      width: 100%;
      height: 2px;
      border: none;
      display: block;
      background: #ffffff11;
      margin: 1rem 0;
    }

    button {
      width: 100%;
      padding: 0.8rem 1rem;
      font-size: 1rem;
      font-weight: 700;
      color: #eee;
      background: var(--accent-color);
      border: none;
      border-radius: 5px;
      transition: opacity 200ms ease;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
</style>
