<script lang="ts">
  export let checked = true;
</script>

<label>
  <slot />
  <input type="checkbox" bind:checked required />
  <span />
</label>

<style lang="scss">
  label {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ span {
        background: var(--accent-color);

        &::after {
          display: block;
        }
      }
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;

    height: 1.6rem;
    width: 1.6rem;

    background: #eee;
    transition: background 200ms ease;

    &::after {
      content: "";
      position: absolute;
      display: none;

      top: 0.3rem;
      width: 0.3rem;
      height: 0.6rem;
      left: 0.55rem;

      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  label:hover input:not(:checked) ~ span {
    background: #ccc;
  }
</style>
