<script lang="ts">
  export let name = "";
  export let value = "";
  export let placeholder = "";
  export let type = "text";
</script>

<label for={name}><slot /></label>
{#if type === "text"}
  <input bind:value {name} {placeholder} required />
{:else if type === "textarea"}
  <textarea bind:value {name} required />
{/if}

<style lang="scss">
  label {
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;

    div {
      display: flex;
    }
  }

  input,
  textarea {
    margin: 0.4rem 0 1rem;
    padding: 0.6rem 1rem;
    width: 100%;
    display: inline-block;
    font-size: 1rem;
    border: none;
    resize: none;
    color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";

    background: #ffffff11;
    border-radius: 5px;
  }
</style>
